@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap");
:root {
  --neutural-white: #FFF;
  --neutural-black: #171921;
  --primary-dark-blue-1: #142257;
  --neutural-grey-1: #545971;
  --primary-sky-blue: #15B2F5;
  --neutural-light-grey: #F3F5F9;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p_120_0 {
  padding: 120px 0;
}

.p_64_0 {
  padding: 64px 0;
}

.block__title {
  color: var(--neutural-black, #171921);
  font-family: Plus Jakarta Sans;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 24px;
}

.bg_dark-blue {
  background-color: var(--primary-dark-blue-1, #142257);
}

.bg_blue {
  background-color: var(--primary-sky-blue, #15B2F5);
}

.social-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-icon ul li:not(:last-child) {
  margin-right: 24px;
}

.main__title {
  color: var(--neutural-black, #171921);
  font-family: Plus Jakarta Sans;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  /* 123.077% */
}
.main__subtitle {
  color: var(--neutural-grey-1, #545971);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

/*Reset*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 160%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: #fff;
  color: var(--neutural-grey-1, #545971);
}

.container {
  max-width: 1484px;
  margin: 0 auto;
  padding: 0 24px;
}

.block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 160px;
}
.block__menu-logo {
  z-index: 50;
}
.block__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.block__menu-nav .nav-logo {
  padding: 23px;
  border-bottom: 1px solid var(--primary-dark-blue-2, #1F3584);
}
.block__menu-nav nav {
  margin: 0 auto;
}
.block__menu-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block__menu-nav nav ul li a {
  color: var(--neutural-white);
  font-weight: 700;
}
.block__menu-nav nav ul li:not(:last-child) {
  margin-right: 57px;
}
.block__menu-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block__menu-service svg {
  margin-right: 10px;
}
.block__menu-service a {
  color: var(--neutural-white);
  font-weight: 700;
}
.block__menu-burger {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.block__menu-burger span {
  width: 24px;
  height: 2px;
  background-color: var(--neutural-white);
  display: inline-block;
}
.block__menu-burger:before, .block__menu-burger:after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 2px;
  background-color: var(--neutural-white);
}
.block__second {
  display: grid;
  grid-template-columns: minmax(45%, 561px) minmax(50%, 712px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.block__second-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
}
.block__second-left .title {
  margin-bottom: 24px;
}
.block__second-left .subtitle {
  margin-bottom: 56px;
}
.block__second-left .lists {
  margin-bottom: 56px;
}
.block__second-left .lists ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  -webkit-column-gap: 57px;
     -moz-column-gap: 57px;
          column-gap: 57px;
  row-gap: 32px;
}
.block__second-left .lists ul li {
  color: var(--primary-dark-blue-2, #1F3584);
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  position: relative;
  /* 140% */
}
.block__second-left .lists ul li::before {
  content: "";
  background-image: url(../img/svg/check.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
.block__second-left .phone {
  border-radius: 24px;
  background: var(--primary-sky-blue, #15B2F5);
  padding: 12px 32px;
  max-width: 450px;
  width: 100%;
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}
.block__second-left .phone a {
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration-line: underline;
}
.block__third {
  padding-bottom: 120px;
}
.block__third .title {
  text-align: center;
  margin-bottom: 24px;
}
.block__third .subtitle {
  margin: 0 auto;
  max-width: 552px;
  width: 100%;
  margin-bottom: 60px;
}
.block__third-lists ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.block__third-lists ul li {
  padding: 32px;
}
.block__third-lists ul li .icon {
  margin-bottom: 16px;
}
.block__third-lists ul li .title {
  color: var(--neutural-black, #171921);
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-align: justify;
  margin-bottom: 12px;
}
.block__third-lists ul li .text {
  color: var(--neutural-grey-1, #545971);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}
.block__third-lists ul li.last_item {
  border-radius: 24px;
  background: var(--primary-sky-blue, #15B2F5);
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block__third-lists ul li.last_item .title {
  color: var(--neutural-white, #FFF);
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}
.block__third-lists ul li.last_item .text {
  color: var(--neutural-white, #FFF);
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}
.block__third-lists ul li.last_item a {
  color: var(--primary-sky-blue, #15B2F5);
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  border-radius: 60px;
  background: var(--neutural-white, #FFF);
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
}
.block__four-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.block__four-title .title {
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  /* 123.077% */
}
.block__four-title .subtitle {
  color: var(--neutural-grey-3, #9EA3B5);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 613px;
  width: 100%;
}
.block__four-line {
  padding: 60px 0;
  width: 100%;
}
.block__four-lists ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  row-gap: 60px;
}
.block__four-lists ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block__four-lists ul li .icon {
  margin-right: 32px;
}
.block__four-lists ul li .content .title {
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 12px;
}
.block__four-lists ul li .content .subtitle {
  color: var(--neutural-grey-3, #9EA3B5);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}
.block__five {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 88px;
     -moz-column-gap: 88px;
          column-gap: 88px;
  padding: 160px 0;
}
.block__five-right .title {
  margin-bottom: 60px;
}
.block__five-right .lists ul {
  list-style-type: none;
  counter-reset: worker;
}
.block__five-right .lists ul li {
  display: grid;
  grid-template-columns: minmax(30px, 55px) 24% 76%;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
}
.block__five-right .lists ul li:not(:last-child) {
  margin-bottom: 55px;
}
.block__five-right .lists ul li:before {
  content: counter(worker) ".";
  counter-increment: worker;
  color: var(--neutural-grey-3, #9EA3B5);
  font-family: Plus Jakarta Sans;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  /* 123.077% */
}
.block__five-right .lists ul li .text_left {
  color: var(--neutural-black, #171921);
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}
.block__five-right .lists ul li .text_right {
  color: var(--neutural-grey-1, #545971);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

.first__screen {
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: relative;
}
.first__screen-left, .first__screen-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first__screen-left img, .first__screen-right img {
  border-radius: 24px;
  margin-bottom: 16px;
}
.first__screen-left svg, .first__screen-right svg {
  width: 100%;
}
.first__screen-left img {
  padding-left: 16px;
}
.first__screen-right img {
  padding-right: 16px;
}
.first__screen-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
}
.first__screen-middle .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.first__screen-middle .content_up ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}
.first__screen-middle .content_up ul li {
  color: var(--neutural-grey-3, #9EA3B5);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first__screen-middle .content_up ul li:not(:last-child):after {
  content: "";
  width: 5px;
  height: 5px;
  display: inline-block;
  margin: 0 14px;
  background-color: #9EA3B5;
  border-radius: 50%;
}
.first__screen-middle .content_up .main_title {
  color: var(--neutural-white, #FFF);
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  max-width: 671px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
}
.first__screen-middle .content_up .main_btn {
  text-align: center;
  margin-bottom: 87px;
}
.first__screen-middle .content_up .main_btn a {
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  border-radius: 60px;
  background: var(--primary-sky-blue, #15B2F5);
  padding: 18px;
  /* 133.333% */
}
.first__screen-middle .content_up .main_btn a span {
  background-color: #FFF;
  width: 48px;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-left: 16px;
}
.first__screen-middle .content_up .check {
  margin-bottom: 48px;
}
.first__screen-middle .content_up .check ul li {
  color: var(--primary-sky-blue, #15B2F5);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 160% */
}
.first__screen-middle .content_up .check ul li svg {
  margin-right: 8px;
}
.first__screen-middle .content_up .check ul li::after {
  content: none;
}
.first__screen-middle .content_up .check ul li:not(:last-child) {
  margin-right: 41px;
}
.first__screen-middle .lists_icons {
  margin-bottom: 16px;
}
.first__screen-middle .lists_icons ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 95px;
}
.first__screen-middle .lists_icons ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first__screen-middle .lists_icons ul li .icon {
  border-radius: 999px;
  background: var(--primary-dark-blue-2, #1F3584);
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
}
.first__screen-middle .lists_icons ul li .text {
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 133.333% */
}

.footer__content {
  padding: 52px 0 74px;
}
.footer__content-form {
  margin-bottom: 52px;
  padding: 24px;
  border-radius: 24px;
  background: #4AC9FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__content-form .text .title {
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 12px;
}
.footer__content-form .text .subtitle {
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}
.footer__content-form .form_container {
  padding: 12px;
  background-color: var(--neutural-white);
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__content-form .form_container input {
  background-color: transparent;
  padding: 8px 12px;
}
.footer__content-form .form_container input[type=submit] {
  border-radius: 60px;
  background: var(--primary-sky-blue, #15B2F5);
  padding: 8px 24px;
  color: var(--neutural-white);
}
.footer__content-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__content-middle .left {
  max-width: 460px;
  width: 100%;
}
.footer__content-middle .left .footer__logo,
.footer__content-middle .left .text {
  margin-bottom: 32px;
}
.footer__content-middle .left .text {
  color: var(--neutural-white);
}
.footer__content-middle .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 102px;
     -moz-column-gap: 102px;
          column-gap: 102px;
}
.footer__content-middle .right .title {
  margin-bottom: 24px;
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}
.footer__content-middle .right ul li:not(:last-child) {
  margin-bottom: 12px;
}
.footer__content-middle .right ul li a {
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}
.footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 24px 32px;
  color: var(--neutural-white);
  text-align: center;
}

@media screen and (min-width: 968px) {
  .block__menu .nav-logo, .block__menu-burger {
    display: none;
  }
}
@media screen and (max-width: 1140px) {
  .block__menu {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 968px) {
  .block__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .block__menu-nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 75px;
    left: 0;
    height: 100%;
    background-color: #1F3584;
  }
  .block__menu-nav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block__menu-nav nav ul li {
    margin-right: 0 !important;
    padding: 32px 0;
  }
  .block__menu-service {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: auto;
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 768px) {
  .footer__content-form {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__content-form .text {
    margin-bottom: 24px;
  }
  .footer__content-form .form {
    width: 100%;
  }
  .footer__content-form .form_container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px;
  }
  .footer__content-form .form_container input {
    padding: 8px;
  }
  .footer__content-middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content-middle .left {
    margin-bottom: 30px;
  }
  .footer__content-middle .right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-column-gap: unset;
       -moz-column-gap: unset;
            column-gap: unset;
  }
}
@media screen and (max-width: 375px) {
  .footer .form_container input {
    width: 50%;
  }
}
.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 50;
}/*# sourceMappingURL=style.css.map */