@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap");
:root {
  --neutural-white: #FFF;
  --neutural-black: #171921;
  --primary-dark-blue-1: #142257;
  --neutural-grey-1: #545971;
  --primary-sky-blue: #15B2F5;
  --neutural-light-grey: #F3F5F9;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.block__title {
  color: var(--neutural-black, #171921);
  font-family: Plus Jakarta Sans;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 24px;
}
.bg_dark-blue {
  background-color: var(--primary-dark-blue-1, #142257);
}

.bg_blue {
  background-color: var(--primary-sky-blue, #15B2F5);
}

.social-icon ul {
  display: flex;
  align-items: center;
}
.social-icon ul li:not(:last-child) {
  margin-right: 24px;
}

/*Reset*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 160%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: #fff;
  color: var(--neutural-grey-1, #545971);
}

.container {
  max-width: 1484px;
  margin: 0 auto;
  padding: 0 24px;
}

.block__menu {
  display: flex;
  align-items: center;
  padding: 24px 160px;
}
.block__menu-nav {
  display: flex;
  align-items: center;
  width: 100%;
}
.block__menu-nav .nav-logo {
  padding: 23px;
  border-bottom: 1px solid var(--primary-dark-blue-2, #1F3584);
}
.block__menu-nav nav {
  margin: 0 auto;
}
.block__menu-nav nav ul {
  display: flex;
  align-items: center;
}
.block__menu-nav nav ul li a {
  color: var(--neutural-white);
  font-weight: 700;
}
.block__menu-nav nav ul li:not(:last-child) {
  margin-right: 57px;
}
.block__menu-service {
  display: flex;
  align-items: center;
}
.block__menu-service svg {
  margin-right: 10px;
}
.block__menu-service a {
  color: var(--neutural-white);
  font-weight: 700;
}
.block__menu-burger {
  z-index: 10;
}
.block__menu-burger svg path {
  stroke: var(--neutural-white);
}

.footer__content {
  padding: 52px 0 74px;
}
.footer__content-form {
  margin-bottom: 52px;
  padding: 24px;
  border-radius: 24px;
  background: #4AC9FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__content-form .text .title {
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 12px;
}
.footer__content-form .text .subtitle {
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}
.footer__content-form .form_container {
  padding: 12px;
  background-color: var(--neutural-white);
  border-radius: 60px;
  display: flex;
  align-items: center;
}
.footer__content-form .form_container input {
  background-color: transparent;
  padding: 8px 12px;
}
.footer__content-form .form_container input[type=submit] {
  border-radius: 60px;
  background: var(--primary-sky-blue, #15B2F5);
  padding: 8px 24px;
  color: var(--neutural-white);
}
.footer__content-middle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__content-middle .left {
  max-width: 460px;
  width: 100%;
}
.footer__content-middle .left .footer__logo,
.footer__content-middle .left .text {
  margin-bottom: 32px;
}
.footer__content-middle .left .text {
  color: var(--neutural-white);
}
.footer__content-middle .right {
  display: flex;
  align-items: center;
  -moz-column-gap: 102px;
       column-gap: 102px;
}
.footer__content-middle .right .title {
  margin-bottom: 24px;
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}
.footer__content-middle .right ul li:not(:last-child) {
  margin-bottom: 12px;
}
.footer__content-middle .right ul li a {
  color: var(--neutural-white, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}
.footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 24px 32px;
  color: var(--neutural-white);
  text-align: center;
}

@media screen and (min-width: 968px) {
  .block__menu .nav-logo, .block__menu-burger {
    display: none;
  }
}
@media screen and (max-width: 1140px) {
  .block__menu {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 968px) {
  .block__menu {
    justify-content: space-between;
  }
  .block__menu-nav {
    display: none;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 75%;
    height: 100%;
    background-color: var(--primary-dark-blue-1);
  }
  .block__menu-nav nav ul {
    display: flex;
    flex-direction: column;
  }
  .block__menu-nav nav ul li {
    margin-right: 0 !important;
    padding: 32px 0;
  }
  .block__menu-service {
    justify-content: center;
    margin-top: auto;
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 768px) {
  .footer__content-form {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__content-form .text {
    margin-bottom: 24px;
  }
  .footer__content-form .form {
    width: 100%;
  }
  .footer__content-form .form_container {
    justify-content: space-between;
    padding: 8px;
  }
  .footer__content-form .form_container input {
    padding: 8px;
  }
  .footer__content-middle {
    flex-direction: column;
  }
  .footer__content-middle .left {
    margin-bottom: 30px;
  }
  .footer__content-middle .right {
    justify-content: space-between;
    width: 100%;
    -moz-column-gap: unset;
         column-gap: unset;
  }
}
@media screen and (max-width: 375px) {
  .footer .form_container input {
    width: 50%;
  }
}