:root {
   --neutural-white: #FFF;
   --neutural-black: #171921;
   --primary-dark-blue-1: #142257;
   --neutural-grey-1: #545971;
   --primary-sky-blue: #15B2F5;
   --neutural-light-grey: #F3F5F9;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.dflex {
   display: flex;
   align-items: center;
}

.p_120_0 {
   padding: 120px 0;
}

.p_64_0 {
   padding: 64px 0;
}

.block {
   &__title {
      color: var(--neutural-black, #171921);
      font-family: Plus Jakarta Sans;
      font-size: 52px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      margin-bottom: 24px;
   }

}

.bg_dark-blue {
   background-color: var(--primary-dark-blue-1, #142257);
}

.bg_blue {
   background-color: var(--primary-sky-blue, #15B2F5);
}

.social-icon {
   ul {
      display: flex;
      align-items: center;

      li {
         &:not(:last-child) {
            margin-right: 24px;
         }
      }
   }
}

.main {
   &__title {
      color: var(--neutural-black, #171921);
      font-family: Plus Jakarta Sans;
      font-size: 52px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      /* 123.077% */
   }

   &__subtitle {
      color: var(--neutural-grey-1, #545971);
      font-feature-settings: 'liga' off;
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      /* 155.556% */
   }
}

/* Accordion*/

.accordion__text {
   color: #737373;
   font-feature-settings: 'ss01' on;
   font-family: Be Vietnam;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   /* 150% */
   display: none;
   margin-top: 16px;
}

.accordion__title {
   color: var(--neutural-grey-1, #545971);
   font-family: Plus Jakarta Sans;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 32px;
   /* 133.333% */
   position: relative;
   cursor: pointer;
}

/* Accordion arrow*/
.accordion__title::before,
.accordion__title::after {
   content: "";
   width: 10px;
   height: 1px;
   background-color: #1F3584;
   position: absolute;
   top: 8px;
   transition: all 0.3s ease 0s;
}

.accordion__title::before {
   transform: rotate(-40deg);
   right: 0;
}

.accordion__title::after {
   transform: rotate(40deg);
   right: 8px;
}

.accordion__title.active::before {
   transform: rotate(40deg);
}

.accordion__title.active::after {
   transform: rotate(-40deg);
}

.accordion__block {
   padding: 24px 32px;
   border-radius: 12px;
}

/* Accordion END*/