:root {
   --neutural-white: #FFF;
   --neutural-black: #171921;
   --primary-dark-blue-1: #142257;
   --neutural-grey-1: #545971;
   --primary-sky-blue: #15B2F5;
   --neutural-light-grey: #F3F5F9;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.dflex {
   display: flex;
   align-items: center;
}

.p_120_0 {
   padding: 120px 0;
}

.p_64_0 {
   padding: 64px 0;
}

.block {
   &__title {
      color: var(--neutural-black, #171921);
      font-family: Plus Jakarta Sans;
      font-size: 52px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      margin-bottom: 24px;
   }

}

.bg_dark-blue {
   background-color: var(--primary-dark-blue-1, #142257);
}

.bg_blue {
   background-color: var(--primary-sky-blue, #15B2F5);
}

.social-icon {
   ul {
      display: flex;
      align-items: center;

      li {
         &:not(:last-child) {
            margin-right: 24px;
         }
      }
   }
}

.main {
   &__title {
      color: var(--neutural-black, #171921);
      font-family: Plus Jakarta Sans;
      font-size: 52px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      /* 123.077% */
   }

   &__subtitle {
      color: var(--neutural-grey-1, #545971);
      font-feature-settings: 'liga' off;
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      /* 155.556% */
   }
}